@import url("https://fonts.googleapis.com/css2?family=Shalimar&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  background-image: url(/assets/digital-art-landscape-mountains-space-planet-astronaut-1471645-wallhere.com.jpg);
  background-position: center;
}

.pop-up-container {
  position: absolute;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

.btn-restart {
  visibility: hidden;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  font-family: cursive;
  font-size: 1em;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.options__container {
  width: 30%;
  height: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.535);
  border-radius: 20px;
}

.options__container img {
  width: 70%;
}

.main__score-board {
  margin-bottom: 1em;
}

.main__score-board p {
  display: inline;
  font-size: 5rem;
}

.main__game-screen {
  position: relative;
  width: 70%;
  height: 50vh;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game-screen__player, .game-screen__cpu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 120px;
  height: 200px;
}

.game-screen__player p, .game-screen__cpu p {
  font-size: 2em;
  color: white;
  display: inline-block;
}

.options__imgs {
  width: 70%;
}

.pop-up-win {
  width: 550px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  border-radius: 20px;
  visibility: hidden;
  background-image: url(/assets/digital-art-fantasy-art-planet-space-stars-helmet-94360-wallhere.com.jpg);
  visibility: visible !important;
}

.pop-up-win p {
  font-size: 7em;
  color: #fff;
  font-family: 'Shalimar', cursive;
  font-weight: 400;
}

.pop-up-win div {
  text-align: center;
}

.pop-up-win .btn-restart {
  visibility: visible;
}

.pop-up-tie {
  visibility: visible !important;
  width: 550px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  border-radius: 20px;
  visibility: hidden;
  background-image: url(/assets/artwork-science-fiction-astronaut-planet-Earth-women-1660257-wallhere.com.jpg);
}

.pop-up-tie p {
  font-size: 7em;
  color: #fff;
  font-family: 'Shalimar', cursive;
  font-weight: 400;
}

.pop-up-tie div {
  text-align: center;
}

.pop-up-tie .btn-restart {
  visibility: visible;
}

.pop-up-tie {
  visibility: visible !important;
  width: 550px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  border-radius: 20px;
  visibility: hidden;
  background-image: url(/assets/artwork-science-fiction-astronaut-planet-Earth-women-1660257-wallhere.com.jpg);
}

.pop-up-tie p {
  font-size: 7em;
  color: #fff;
  font-family: 'Shalimar', cursive;
  font-weight: 400;
}

.pop-up-tie div {
  text-align: center;
}

.pop-up-tie .btn-restart {
  visibility: visible;
}

.pop-up-defeat {
  width: 550px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  border-radius: 20px;
  visibility: hidden;
  background-image: url(/assets/illustration-planet-space-futuristic-artwork-Earth-245064-wallhere.com.jpg);
}

.pop-up-defeat p {
  font-size: 7em;
  color: #fff;
  font-family: 'Shalimar', cursive;
  font-weight: 400;
}

.pop-up-defeat div {
  text-align: center;
}

.pop-up-defeat .btn-restart {
  visibility: visible;
}

.animacion {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: b .5s linear forwards infinite;
          animation: b .5s linear forwards infinite;
  background-color: rgba(0, 0, 0, 0.7);
}

.animacion div {
  -webkit-animation: a 1.2s linear forwards infinite;
          animation: a 1.2s linear forwards infinite;
  width: 70%;
  height: 70%;
  background-size: cover;
}

.animacion2 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px solid #44ff00;
}

.animacion2 div {
  width: 70%;
  height: 70%;
  background-size: cover;
}

@-webkit-keyframes a {
  0% {
    background-image: url(/assets/11959victoryhand_111462.svg);
  }
  50% {
    background-image: url(/assets/11990handwithfingerssplayed_111475.svg);
  }
  100% {
    background-image: url(/assets/12020raisedfist_111487.svg);
  }
}

@keyframes a {
  0% {
    background-image: url(/assets/11959victoryhand_111462.svg);
  }
  50% {
    background-image: url(/assets/11990handwithfingerssplayed_111475.svg);
  }
  100% {
    background-image: url(/assets/12020raisedfist_111487.svg);
  }
}

@-webkit-keyframes b {
  0% {
    border: 3px solid red;
  }
  50% {
    border: 3px solid #44ff00;
  }
  100% {
    border: 3px solid red;
  }
}

@keyframes b {
  0% {
    border: 3px solid red;
  }
  50% {
    border: 3px solid #44ff00;
  }
  100% {
    border: 3px solid red;
  }
}
/*# sourceMappingURL=styles.css.map */